@use 'src/styles/vars';

.taskInProgress {
  color: vars.$lightColor;
  font-size: 1.5rem;
  border-bottom: 1px solid vars.$lightColor;
  padding: 0.5rem 0;
  margin: 2rem 0 1rem 0;
}

.todo__fieldset {

  &__container {
    background: vars.$lightColor;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 0.5rem;

    &:hover {
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }

    input {
      margin-right: 0.5rem;
    }
  }
}
