@use 'src/styles/vars';

.header__input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  background: vars.$altColor;
  border: none;
  color: vars.$lightColor;

  &::placeholder {
    color: vars.$mainOpacityColor;
  }

  &:hover {
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  }
}
