@use 'src/styles/vars';

.form-item {
  width: 100%;
  color: vars.$lightColor;
  font-size: 2em;
  background: vars.$altColor;
  border: none;
  padding: 1rem;

  &::placeholder {
    color: vars.$mainOpacityColor;
  }

  &:hover {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  }
}
